{% extends 'nav.html'%}
{%block main%}
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="zoom-in">
    <div class="quote-icon">
      <i class="bx bxs-quote-right"></i>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
               Our project aim is To Forecasting YouTube Video AdViews. This app is for those who want to know the score of youtubers to give Ads or you can check whether the Ad is given to the right youtube channel or not. About my team, From beggining to end they supports me very well for completing our work on time.
            </p>
            <!-- <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt=""> -->
            <h3>Mehroofa Nasrin</h3>
            <h4>Leader &amp; Documentation</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              Data training should be done carefully, Because if a single mistake will affect the whole project. There were small errors, But with the help of our mentors it was cleared easily.
            </p>
            <!-- <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt=""> -->
            <h3>Muhammed Shibili</h3>
            <h4>Dataset Trainer</h4>
          </div>
        </div><!-- End testimonial item -->

        

   

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
            The Backend is not much difficult to do. But the help of smart internz and our mentors help me to correct errors and make it working smooth. And the delivery of trained data and frontend on right time help me to finish this on time. 
            </p>
            <!-- <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
            <h3>Vishnu Sabu</h3>
            <h4>Backend Developer</h4>
          </div>
        </div><!-- End testimonial item -->


        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
             The Frontend development is very intresting to do. By the help of bootstrap its makes work easy. And i am enjoying this work by adding additional styles and editing it.
            </p>
            <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->
            <h3>Asif Ihsan</h3>
            <h4>Frontend Developer</h4>
          </div>
        </div><!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
      

  {%endblock%}