{% extends 'base.html'%}

{%block content%}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <a href="{{ url_for('index')}}" class="hero-logo" data-aos="zoom-in"><img src="{{ url_for('static', filename= 'img/hero-logo.png') }}" alt=""></a>
      <h1 data-aos="zoom-in">Welcome To Knight Studios</h1>
      <h2 data-aos="fade-up">View Count Visionary: A Data-Driven Approach To Forecasting YouTube Video Views.</h2>
      <a data-aos="fade-up" data-aos-delay="200" href="{{ url_for('pred')}}" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {%endblock%}