{% extends 'nav.html'%}
{%block main%}
<div>
    <section id="contact" class="contact section-bg">
            <div >
 
               
              <form action="{{ url_for('predict')}}" method="post" class="pf" >
             <label>Number of views in video:</label><br>
               <input type="number" name="views" required><br><br>
               <label>Number of likes in video:</label><br>
               <input type="number" name="likes" required><br><br>
               <label>Number of dislikes in video:</label><br>
               <input type="number" name="dislikes" required><br><br>
               <label>Number of comments in video:</label><br>
               <input type="number" name="comments" required><br><br>
               <label>Year of publish of video:</label><br>
               <input type="number" name="year" required><br><br>
               <label>Duration of video (in seconds):</label><br>
               <input type="number" name="duration" required><br><br>
               <label>Category of the video:</label><br>
               <select name="category" required>
                 <option value="1">Video tutorials</option>
                 <option value="2">Educational videos</option>
                 <option value="3">Product reviews</option>
                 <option value="4">Challenge Videos</option>
                 <option value="5">Product Launch Videos</option>
                 <option value="6">Short Videos</option>
                 <option value="7">Vlogs</option>
                 <option value="8">Video Testimonials</option>
               </select><br><br>
             <input type="submit" value="Predict">
             </form>
          </div>
  
        </div>
      </section>
</div>
{%endblock%}